<h1>Song List</h1>

<% @songs.each do |song| %>
  <% @artist = Artist.find(song.artist_id) %>
  <% @genre = Genre.find(song.genre_id) %>
  <p><%= song.name %></p><br>
  <%= link_to @artist.name, artist_path(@artist) %><br>
  <%= link_to @genre.name, genre_path(@genre) %><br>
<% end %>
